.app {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.app main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notifications {
  z-index: 1;
  position: fixed;
  top: -92px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  display: block;
  transition-duration: 0.3s;
  font-size: 14px;
}

.notification {
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  text-align: right;
}

.notification > span {
  text-align: center;
  display: inline-block;
  padding: 2em 2em 0.5em 2em;
  border-radius: 10px;
}

#errorBox > span {
  background: rgb(180, 70, 70);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app main {
    flex-direction: column;
  }
}
