@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");

body {
    background-color: #02a360;
    /* font-family: "Courier New", monospace; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
  }